<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!--■ ①必要に応じてコンポーネントのメモリを増強し、処理能力をあげる -->
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>

 	<div th:fragment="header">
 		<div style="background-color:#D9E3FF;">
		 		<nav class="navbar navbar-expand navbar-light">
		        	<a th:href="@{/}" class="navbar-brand">
		        		ST-310グリップカスタム
		        	</a>
		 		</nav>
 		</div>
	</div>
 
</body>
</html>

